@font-face {
	font-family: Calibri;
	src: url('../Calibri.ttf');
}
* {
	font-size: .9rem;
	font-family: Calibri, Arial, sans-serif;
}
article, body {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
nav>ul{
	padding-left: 0;
}
nav>ul>li {
	position: relative;
	display: inline-block;
	list-style-type: none;
}
nav>ul>li>img {
	height: 50px;
	cursor: pointer;
}
nav>ul>li>span {
	text-transform: uppercase;
}
nav>ul>li>span, .model-item>span {
	left: 0;
	bottom: 0;
	width: 100%;
    text-align: left;
	position: absolute;
	background-color: rgba(33,33,33,.3);
}
nav>ul>li.active {
	color: #fff;
	background-color: #369;
}
.selected {
	border: 1px solid #eee;
}
nav>ul>li.active>span {
	color: #fff;
	background-color: #18a28a;
}
.menu>nav,.menu>nav>ul,.menu>nav>ul>li {
	height: 100%;
	margin: 0 1% 0 0;
}
.choice-menu {
	top: 5%;
	right: 1%;
	color: #ddd;
	z-index: 10;
	position: absolute;
	width: 30%;
}
.choice-menu__menu-item {
	width: 20%;
	padding: 2%;
	margin: 0 .1%;
	cursor: pointer;
	font-size: 1.2rem;
    text-align: center;
	display: inline-block;
	background-color: #333;
}
.choose-button {
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    background-color: aqua;
    box-shadow: 1px 1px 1px 1px;
}
.choice-menu__menu-item.choice-menu__menu-item_active {
	color: #333;
	background-color: #eee;
}
.choice-menu__items-lists {
	position: relative;
	background-color: #eee;
}
.choice-menu__item-list {
	overflow-y: auto;
	max-height: 600px;
}
.choice-menu__item-list ul {
	margin: 2%;
	padding: 0;
	list-style-type: none;
}
.model-item.selected,
.choice-menu__item-list ul>li.active, .color.active {
	border: 1px solid rgba(123,123,123,.7);
}
.choice-menu__item-list {
	text-align: center;
}
.floor-header {
	text-transform: uppercase;
}
.choice-menu__item-list.interior li {
	margin: 2%;
	cursor: pointer;
}
.choice-menu__item-list.interior img {
	width: 100%;
}
.choice-menu__item-list .color {
	margin: 2%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	display: inline-block;
}
.action {
	width: 5%;
	float: right;
	cursor: pointer;
	text-align: center;
}
.admin-menu {
	width: 7%;
	float: left;
}
.menu {
	top: 0;
	height: 50px;
}
.create {
	margin-top: 7%;
}
.display {
	top: -60px;
	width: 100%;
	height: 110%;
	position: relative;
}
.section-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
}
.wall {
	z-index: 1;
}
.floor {
	z-index: 2;
}
.interior {
	z-index: 4;
}
.door {
	z-index: 5;
}
.models {
	cursor: pointer;
	max-width: 100%;
	overflow-y: auto;
}
.show-description,
.floor-description {
    z-index: 20;
    color: #eee;
    position: absolute;
    background-color: #333;
}
.floor-description {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22,22,22,.2);
}
.container table {
    width: 40%;
    float: left;
}
.container img {
    width: 56%;
    margin: 2%;
}
.container {
    top: 25%;
    left: 25%;
    width: 50%;
    color: #333;
    margin: 0 auto;
    position: absolute;
    background-color: #eee;
}
.show-description {
    left: 3%;
    bottom: 3%;
    padding: 1%;
	font-size: 1.1rem;
}
.model-item {
	width: 48%;
	cursor: pointer;
	margin-left: 1%;
	position: relative;
    display: inline-block;
}
.model-item>img {
	width: 100%;
	cursor: pointer;
	display: inline-block;
}
.items {
	height: 100%;
	overflow-y: auto;
}
.room-item {
	padding: 5px;
	margin-right: 5px;
	display: inline-block;
	background-color: #aee;
}
.room-item.active {
	background-color: #3ee;
}
