article, body {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
article.splash {
	z-index: 99;
	background-color: rgba(33,33,33,.3);
}
nav>ul>li {
	margin-right: 1%;
}
nav>ul>li.active {
	color: #333;
	background-color: #77e;
}
nav>ul>li,
.color {
	float: left;
	display: inline-block;
}
.menu {
	line-height: 300%;
}
.menu>nav>ul,.menu>nav>ul>li {
	height: 100%;
}
.menu,
.bottom {
	z-index: 10;
	color: #eee;
	height: 10%;
	width: 100%;
	position: absolute;
	background-color: rgba(3,3,3,.8);
}
.bottom {
	bottom: 0;
}
.display {
	top: 10%;
	width: 100%;
	height: 80%;
	position: relative;
}
.section-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	transition: all .3s ease;
}
.wall {
	z-index: 1;
}
.floor {
	z-index: 2;
}
.plinth {
	z-index: 3;
}
.door {
	z-index: 4;
}
.interior {
	z-index: 5;
}
.color {
	width: 30px;
	height: 30px;
}
.c1 {
	background-color: #3ae
}
.c2 {
	background-color: #3ea
}